$primary-color: #007bff;
$secondary-color: #6c757d;

$background-color: #f8f9fa;
$text-color: #343a40;
$border-color: #6d6d6d;
$border-color: #dee2e6;

$success-color: #28a745;
$danger-color: #dc3545;
$warning-color: #ffc107;
$info-color: #17a2b8;

$on-primary-color: #fff;
$on-secondary-color: #fff;
$on-success-color: #fff;
$on-danger-color: #fff;
$on-warning-color: #212529;
$on-info-color: #fff;
