@use 'scss-reset/reset';

:root {
  font-size: 14px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: lighter;
  overflow: hidden;
}

* {
  margin: unset;
  padding: unset;
  box-sizing: border-box;
  font-size: 1rem;
  user-select: none;
  -webkit-user-select: none;
}

a {
  color: $primary-color;
}
