* {
  margin: unset;
  padding: unset;
  box-sizing: border-box;
}

:root {
  font-size: 14px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: lighter;
  overflow: hidden;
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-columns: $sidebar-width 1fr;
}

a {
  color: $primary-color;
}
