:export {
  transition: $transition;

  radiusXs: $radius-xs;
  radiusSm: $radius-sm;
  radiusMd: $radius-md;
  radiusLg: $radius-lg;

  fontSizeSm: $font-size-sm;
  fontSizeXs: $font-size-xs;
  fontSizeMd: $font-size-md;
  fontSizeLg: $font-size-lg;
  fontSizeXl: $font-size-xl;
}
