.sidebar {
  padding: 25px 0 0 15px;
  width: $sidebar-width;
  height: 100vh;
  border-right: solid 1px $border-color;
  display: flex;
  flex-direction: column;
  gap: 12px;

  .item {
    font-weight: 500;
    color: $text-color;
    text-decoration: none;
    font-size: $font-size-md;
  }
}
