.top {
  .logo {
    width: 220px;
    position: fixed;
    bottom: calc(55% + 30px);
    left: 50%;
    translate: -50%;
  }

  .project_setting {
    overflow-y: hidden;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: fixed;
    bottom: min(100px, 10%);
    left: 50%;
    translate: -50%;

    .exist_projects {
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 5px;
      cursor: pointer;

      p {
        transition: all ease-out $transition-time;
        border-bottom: solid 1px transparent;

        &:hover {
          border-bottom: solid 1px $border-color;
        }
      }
    }
  }
}
